USE [Micromanio]
GO
/****** Object:  Table [dbo].[Jeux]    Script Date: 16/11/2021 10:03:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jeux](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[idEtat] [int] NOT NULL,
	[idConsole] [int] NOT NULL,
 CONSTRAINT [PK_Jeux] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jeux]  WITH CHECK ADD  CONSTRAINT [FK2] FOREIGN KEY([idEtat])
REFERENCES [dbo].[Etat] ([id])
GO
ALTER TABLE [dbo].[Jeux] CHECK CONSTRAINT [FK2]
GO
ALTER TABLE [dbo].[Jeux]  WITH CHECK ADD  CONSTRAINT [FK3] FOREIGN KEY([idConsole])
REFERENCES [dbo].[Console] ([id])
GO
ALTER TABLE [dbo].[Jeux] CHECK CONSTRAINT [FK3]
GO
